@import "tailwindcss";

/* Scale down entire website to 90% */
html {
  zoom: 0.95;
}

/* Apply fonts globally */
body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-slab), serif;
}
