@import "tailwindcss";

/* Scale down entire website to 90% */
/* html {
  zoom: 0.95;
} */

/* Apply fonts globally */
body {
  font-family: var(--font-be-vietnam-pro), "Be Vietnam Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-be-vietnam-pro), "Be Vietnam Pro", Helvetica, Arial, sans-serif;
}
